{% load static %}

<div class="col-lg-4 sidebar-widgets">
              <div class="widget-wrap">


                <div class="single-sidebar-widget post-category-widget">
                  <h4 class="single-sidebar-widget__title">Catgory</h4>
                    {% for cat in category %}
                  <ul class="cat-list mt-20">
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p> {{ cat.title }} </p>
                      </a>
                    </li>
                  </ul>
                    {% endfor %}
                </div>


                <div class="single-sidebar-widget popular-post-widget">
                  <h4 class="single-sidebar-widget__title">Popular Post</h4>
                  <div class="popular-post-list">
                    <div class="single-post-list">


                        {% for recent in recent_article %}

                      <div class="details mt-20">
                        <a href="{% url 'detail:list' %}">
                          <h6>{{ recent.title }}</h6>
                        </a>
                      </div>
                    </div>

                    <div class="single-post-list">
                      <div class="thumb">
                        <img class="card-img rounded-0" src="{{ recent.img.url }}" alt="">
                        <ul class="thumb-info">
                          <li>{{ recent.auth }}</li>
                          <li>{{ recent.created_at }}</li>
                        </ul>
                      </div>
                        {% endfor %}
                    </div>
                  </div>
                </div>


                </div>
              </div>
            </div>

